@page "/"
@inject IJSRuntime JSRuntime

<div class="sample-index-page">
    <TextEditorComponent @ref="_myTextEditor" Id="my-texteditor" Width="400" Height="300"></TextEditorComponent>
</div>

@code {
}
